<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>탈퇴</h1>


    <input type="email" id="id" placeholder="Email" required>
    <input type="password" id="pw" placeholder="Password" required>


<button onclick="re_Q()">회원탈퇴</button>
    
</body>
<script src="/script/bye.js"></script>
</html>