<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>비밀번호 변경</h2>
    <input  type="password" id="pw" placeholder="Password" required>
    <input  type="password" id="new_pw" placeholder="new_Password" required>
    <input  type="password" id="re_new_pw" placeholder="re_new_Password" required>
    <button onclick="change_my_password()">변경</button>
    
</body>
<script src="/script/change_my_password.js"></script>
</html>