<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/script/css.css" rel="stylesheet" type="text/css">
    <title>Main</title>
</head>
<body>
   <h1> 메인화면</h1>
<button onclick="window.location.href='/write'">글쓰기</button>
<button onclick="window.location.href='/detail'">내정보</button>
<div id="posts-container"></div>


</body>
<script src="/script/floating_title.js"></script>
</html>