<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>가입</h1>
    <input name="id" id="id" type="email" placeholder="Email" required>
    <input name="pw"  id="pw" type="password" placeholder="Password" required>
    <button onclick="reg()">가입</button>
</body>
<script src="/script/regisiter.js"></script>
</html>