<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> 내 정보  </h2>
    <button onclick="window.location.href='/change'">비밀번호 변경</button>
    <button onclick="window.location.href='/bye'">회원 탈퇴</button>
</body>
</html>
