<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/script/css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>글쓰기</h1>
    <h3>제목</h3><input id="title" type="text" size="20">
    <h3>내용</h3><input id="bord" type="text" size="40" >
    <h3>파일</h3><input id="file" accept="image/*"  name="file"  type="file" >
    <h3>업로드</h3><button id="upload"  onclick="upload()">Upload</button>

</body>
<script src="/script/upload.js"></script>
</html>